<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block titre %}
				Symfotest1
			{% endblock %}
		</title>
	</head>
	<body>
		<div>
			<h1>
				{% block msg %}Bonjour
				{% endblock %}
				{% block client %}
					Client
				{% endblock %}
			</h1>
			Bienvenu chez nous !!</div>

		<div>
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
